:root {
	--color-blue: #4ABDAC;
	--color-blue-fade: rgba(74, 189, 172, 0.2);
	--color-red: #E6896D;
	--color-red-fade: rgba(250, 107, 63, 0.2);
	--color-yellow: #F7B226;
	--color-yellow-fade: rgba(247, 178, 38, 0.2);
	--color-gray: #54524E;
    --color-disabled-gray: #D1D1D1;
    --color-disabled-text-gray: #ADADAD;

	--color-maroon: rgb(102,31,31);
	--color-maroon-fade:rgb(102,47,47);
	--color-purple: rgb(87,94,135);
	--color-purple-fade:rgb(104,108,135);
	--color-violet: rgba(176, 179, 232, 1);
	--color-violet-fade: rgb(206,207,232);
	--color-eggshell: rgba(236, 235, 233, 1);
	--color-eggshell-fade: rgba(236, 235, 233, 0.2);
	--color-pale: rgba(231, 246, 255, 1);
	--color-pale-fade: rgb(249,253,255);
	--color-black: rgba(22, 22, 22, 1);
	--color-pink: rgb(255,228,226);

	--color-bg-hover: #485788;
	--color-light-purple: #C7C9E8;
	--color-light-green: #E1F4E3;
	--color-light-blue: #E7F6FF;


	--color-side-bg: #585858;/*#96BA7B;*/
	--color-side-bg-hover: #64844b;/*#5E9732;*/
    --color-search-btn: #9ac17c;
    --color-search-btn-hover: #9dd874;

	--color-side-bg-alt: #BD7D8F;
	--color-side-bg-alt-hover: #993350;

	--color-header-bg: #64844b;/*#337401;*/
	--color-main-bg: #DBDDDA;

	--search-font-size: 12pt;
	--search-font: Helvetica;

	--tag-col-bg: var(--color-side-bg);
	--preview-col-bg: var(--color-side-bg);

	--tags-btn-color: var(--color-side-bg);
	--projects-btn-color: var(--color-side-bg);
	--groups-btn-color: var(--color-side-bg);

	--tags-tag-color: #c7c7c7;
	--projects-tag-color: #c7c7c7;
	--groups-tag-color: #c7c7c7;

	--tags-panel-color: var(--color-side-bg);
	--projects-panel-color: var(--color-side-bg);
	--groups-panel-color: var(--color-side-bg);

	--color-views-buttons: var(--color-main-bg);
}

hr {
	border: none;
	color: gray;
	background-color: gray;
	height: 1px;

}

select {
    font-family: Helvetica;
    border: none;
    font-size: 12pt;
    height: 2.3em;
    margin: 15px;
    color: #636363;
}

select:focus {
    outline:none;
}

html, body {
	margin: 0;
	font-family: Lato;
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 18vw 60vw 22vw;
    overflow: hidden;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.2%;
	margin-bottom: 0.2%;
	font-size: 40pt;
	font-family: monospace;
	font-weight: 200;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#src-home-link {
    color: white;
    text-decoration: none;
}
#src-home-link:hover {
    opacity: 0.6;
}

.title-font {
	font-family: Lato;
}

#header {
	color: white;
	grid-row: 1;
    grid-column: 1/4;
	height: 100%;
    display: grid;
    grid-template-columns: 18vw 60vw 22vw;
	background-color: var(--color-header-bg);
    justify-items: center;
    align-items: center;
}
#lower {
	grid-row: 2;
	display: grid;
    grid-template-columns: 18vw 60vw 22vw;
    grid-column: 1/4;
}

.search {
	width: 100%;
	line-height: 1.5em;
	border-radius: 8px 8px 8px 8px;
	border: none;
	padding: 3px;
	font-size: var(--search-font-size);
	font-family: var(--search-font);
	padding-left: 8px;
	margin-left: 5%;
}

.search:focus {
		outline: none;
}

/**********************************************************/
/*		  header style				  */
/**********************************************************/

#main-search-container {
	justify-content: center;
    width: 70%;
}

#main-search {
	width: 100%;
    line-height: 2em;
}

#main-search-btn {
    line-height: 2em;
}

#header-middle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#header-right {
	/*outline: dashed white thin;*/
	width: 98%;
	height: 94%;
}

#header-right:hover {
	outline-width: medium;
}

#upload-label {
	line-height: 50%;
}

#file-drag-drop{
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-color: var(--color-purple-fade); */
    height: 100%;
    /*font-size: 1em;*/
    box-sizing: border-box;
}

#upload-button {
    color: var(--color-side-bg);
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    align-self: flex-end;
    margin-right: 30px;
    font-size: 1.5em;
    /*padding: 15px;*/
    /*line-height: 50px;*/
}

#upload-button:hover{
    cursor: pointer;
    background-color: var(--color-search-btn-hover);
}

#upload-button:focus {
    outline: none;
}

/*#file-drag-drop:hover {
	background-color: var(--color-purple-fade);
	cursor: pointer;
}*/


/**********************************************************/
/*                general column styles                   */
/**********************************************************/

#tag-col {
	grid-column: 1;
	background-color: var(--tag-col-bg);
	display: grid;
	grid-template-rows: 7% 93%;
}

#main-col {
    width: 82vw;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
	grid-column: 2;
	padding: 20px;
    z-index:1;
    background-color: white;
	/*padding-bottom: 0px;*/
}

#preview-col {
	color: white;
	text-align: center;
	grid-column: 3;
	background-color: white;
}

/**********************************************************/
/*                     main column                        */
/**********************************************************/

.main-icon {
	width: 15px;
}

.icon-buttons {
	font-size: 11pt;
	height: 30px;
	padding-top: 2px;
	background-color: white;
	background-color: #d9efc9;
	border:none;
  	/*border-color: var(--color-purple);*/
  	border-radius: 8px;
}

.icon-buttons:hover {
	cursor: pointer;
	background-color: var(--color-search-btn-hover);
}

.icon-buttons:focus {
	outline: none;
}

.icon-buttons:disabled{
    background-color: var(--color-disabled-gray);
    cursor: not-allowed;
    color: var(--color-disabled-text-gray);
}

#selectAll {
    margin: 0px;
    align-self: center;
}

#selectAll:hover {
    cursor: pointer;
}

.selectChecks {
	width: 100%;
	height: 100%;
}
 #results-files{
    max-height: 82vh;
	overflow: scroll;
}

.result-file {
    position: relative;
	display: grid;
	/*grid-template-columns: 2fr repeat(2, 1fr);*/
    grid-template-columns: 1fr 7fr 4fr 4fr 62px;
		height: 45px;
    line-height: 30px;
    align-items: center;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 8px;
    background-color: white;
}

.result-file:hover {
	background-color: #efefef;
	cursor:pointer;
}

.result-file-checkbox{
	margin-right: 25px;
    width: 20px;

}

.file-dots {
    justify-self: right;
    margin-right: 10px;
    width: 15px;
    color: #adadad;
}

.file-dots:hover {
    color: black;
}


.file-menu-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    position: relative;
    top: -11px;
    right: -70px;
}

.file-menu-arrow:after {
    content:'';
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
    position:absolute;
    top:1px;
    left:-11px;
}

.file-star {
    width: 15px;
    vertical-align: middle;
    margin-left: 8px;
}

.file-menu {
    display: none;
    position: absolute;
    right: 7px;
    top: 45px;
    background-color: #fff;
    border: solid 1px #ccc;
    z-index: 2;
}

.file-menu-item {
    display: block;
    width: 100px;
    border: none;
    border-radius: none;
    text-align: left;
    font-size: 11pt;
    padding: 10px;
}

.file-menu-item:hover {
    cursor: pointer;
    background-color: #c3e4aa;
}

.file-menu-item:focus {
    outline: none;
}

.results-header:hover {
    cursor: pointer;
}

.results-header:hover:after {
    content: '\2228';
}

/*#date-title:after {
    content: '\2228';
}*/

#default {
    width: 100%;
    height: 100%;
}

#upload {
    width: 100%;
    height: 100%;
    display: none;
}

#main-controls {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}


#results-headers {
  line-height: 2em;
	display: grid;
	grid-template-columns:  1fr 7fr 4fr 4fr 62px;
}

#control-icons {
    float: right;
    justify-self: right;
}

.down:after {
	content: '\2228' !important;
}

.up:after {
	content: '\2227' !important;
}

/**********************************************************/
/*                file edit column                        */
/**********************************************************/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: scroll;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(10% - (1.75rem * 2));
    padding: 20px 20px 50px 20px;
    border: 1px solid var(--color-header-bg);
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.upload-form {
    grid-row: 1/2;
    grid-column: 1/4;
}

.edit-grid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	/* grid-template-rows: 5vh 5vh 5vh 5vh 20vh 15vh; */
}

.edit-field {
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
	border-style: solid;
	border-color: var(--color-gray);
	font-size: larger;
	border-width: 1px;
	padding-left: 7px;
	height: 1.5em;
}

.form-button {
    color: var(--color-side-bg);
    border-radius: 3px;
    height: 2em;
    margin: 5px;
}

.form-label {
	font-family: Lato;
	margin-top: 5px;
}

.form-classifier-input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border-radius: 5px 5px 0px 0px;
}

.form-classifier-input:focus {
    outline: none;
}

.classifier-form-box {
    overflow: scroll;
}

.added-form-classifier {
    display: inline-block;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e2e2e2;
    border-radius: 7px;
    margin: 5px;
}

.form-classifier-delete {
    color: #8c8c8c;
}

.form-classifier-delete:hover {
    color: black;
    cursor:pointer;
}

#file-name {
    width: 99%;
}

#file-author {
    width: 99%;
}

#publish-date {

}

#add-date {
    width: 40%;
}

#form-grid {
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    border: 1px solid black;
}

#form-tags {
    margin-top: 2px;
	margin-bottom: 15px;
	border: 1px solid black;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 150px;
	grid-row: 2;
}

#form-projects {
    margin-top: 2px;
	margin-bottom: 15px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 150px;
	grid-row: 2;
    /* box-sizing: border-box;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

#form-groups {
    margin-top: 2px;
	margin-bottom: 15px;
	height: 150px;
	border: 1px solid black;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	grid-row: 2;
}

#notes-form-label {
	grid-row: 3;
}

#file-notes {
	grid-column: 1 / 4;
	height: auto;
	resize: vertical;
	grid-row: 4;
}

#save-file {
    float: right;
}
#save-file:hover {
    background-color: var(--color-search-btn-hover);
}

#cancel-file {
    float: right;
}
#cancel-file:hover {
    background-color: var(--color-disabled-gray);
}


/**********************************************************/
/*                  preview column                        */
/**********************************************************/

#upload-icon {
	width: 20%;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}

#file-preview{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-between;
    padding: 2%;
    box-sizing: border-box;
}

#preview-content {
    height: 100%;
/*    display: flex;
    align-content: center;
    justify-content: center;*/
}

#preview-image{
    /*background-image: url("graphics/sadoak.jpg");*/
    max-width: 21vw;
    background-repeat: round;
    box-sizing: border-box;
    display: block;
}

#preview-description{
    display: block;
/*    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    height: 18%;
    border-top: 5px solid rgba(0,0,0,0);*/
}

/*#file-drag-drop:active {
    border: dashed 5px #B4E58B;
}
*/
#hidden-file-upload {
	display: none;
}


/**********************************************************/
/*		        tag column                        */
/**********************************************************/

.accordion {
	cursor: pointer;
	width:100%;
	text-align:left;
	border:none;
	outline:1px;
	transition: 0.4s;
	height: 3em;
	font-size: 1em;
	color: white;
    position: relative;
	background-color: var(--background-color);
	padding-left: 14px;
}

.active, .accordion:hover {
	background-color: var(--color-side-bg-hover);
}

.accordion:after {
	content: '\2228';
	float: right;

}

.active:after {
	content: '\2227';
}

.panel {
	-webkit-transition: height  0.5s;
	padding: 0 18px;
	height: 0px;
	overflow: hidden;
}

.classifier-control {
    background-color: var(--color-search-btn);
    border:none;
    padding: 10px;
    border-radius: 10px;
    font-size: .8em;
}

.classifier-control:hover {
    cursor: pointer;
    background-color: var(--color-search-btn-hover);
}

.classifier {
	font-family: Lato;
	border-radius: 8px;
	border: none;
	width: 90%;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	position: relative;
}

.classifier-checkbox {
	margin-right: 10px;
    width: 20px;
}

.classifier-colon-span {
    display: none;
}

.search-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 10px;
}

.classifier-container {
    height: 82vh;
	overflow-y: scroll;
    padding-top: 10px;
    overflow-x: hidden;
}

.classifier-search {
    width: 50%;
    position: absolute;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: solid 1px white;
    color: white;
    padding-top: 5px;
    margin-left: 5px;
    font-size: 0.8em;
    /*opacity: 0;*/
    display: none;
}

.classifier-search::placeholder {
    color: #B0B0B0;
}

.classifier-search:focus {
    outline: none;
}
/*#classifier-search-btn {
	border-radius: 1px 8px 8px 1px;
	height: 1.41em;
}*/

/*#classifier-search-btn:hover {
	background-color: var(--color-side-bg-hover);
	color: #fffae5;
}*/

/*#tags {
	background-color: var(--tags-btn-color);
}*/

#tags-panel {
	background-color: var(--tags-panel-color);
}

.tags-classifier {
	background-color: var(--tags-tag-color);
}

/*#projects {
	background-color: var(--projects-btn-color);
}*/

#projects-panel {
	background-color: var(--projects-panel-color);
}

.projects-classifier {
	background-color: var(--projects-tag-color);
}

/*#groups {
	background-color: var(--groups-btn-color);
}*/

#groups-panel {
	background-color: var(--groups-panel-color);
}

.groups-classifier {
	background-color: var(--groups-tag-color);
}

.views {
	box-shadow: 0px -30px 20px -13px var(--color-side-bg);
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.views-btn {
	width: 95%;
	font-size: 1em;
	height: 23%;
	color: white;
	background-color: var(--color-views-buttons);
	border:none;
	display: flex;
	justify-content: space-between;
	align-self: auto;
	border-top-left-radius: 10px;
	border-bottom-left-radius:10px;
	background-color: white;
	opacity: 0.5;
	color: var(--color-bg);
	margin-bottom: 7px;
	margin-left: auto;
	padding: 2%;
	padding-left: 10px;
	position: relative;
	right: 0;
	outline: none;
}

.views-btn:hover {
	cursor: pointer;
	opacity: 0.75;
}

.active-tab {
	opacity: 1 !important;
}
.classifier-icon {
	height: 1em;
	width: 1em;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.fade-in {
  animation: fadeIn .4s ease-in 1 forwards;
}

.fade-out {
  animation: fadeOut .4s ease-in 1 forwards;
}
