html, body {
	margin: 0;
}

body {
    display: grid;
    grid-template-columns: 18% auto 22%;
}

.col {
	height: 100vh;
}

#tag-col {
	grid-column: 1;
	background-color: #ccc;
}

#main-col {
	grid-column: 2;
}

#preview-col {
	grid-column: 3;
	background-color: #ccc;
	width: 22vw;
	position: absolute;
	right: 0;
}

/**********************************************************/
/*                     main column                        */
/**********************************************************/

.main-icon {
	width: 30px;
}